# Sistema operativo
Thumbs.db
desktop.ini
.DS_Store

# Editores
.vscode/
.idea/
*.swp

# Dependencias / builds (por si más adelante usas Node)
node_modules/
dist/
build/

# Variables de entorno (nunca subir claves al repositorio)
.env
.env.local
